.top-header {
  height: 520px;
  width: 100%;
  color: #3f3f3f;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-color: rgba(255, 255, 255, 0.667);
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
}

header h2 {
  margin-block: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .top-header {
    height: 400px;
    width: 30%;
    float: left;
    margin-top: 200px;
    margin-left: 2em;
  }
 }