#tweets-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.tweet {
  display: flex;
  flex-direction: column;
  padding:20px;
  border: 5px solid #3f3f3f;
}

.tweet:hover {
  box-shadow: 5px 5px #717171;
}

article.tweet header {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tweet footer {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-content: center;
  font-size: 14px;
  padding-top:10px;
  color: #4056A1;
  border-top: 5px solid #3f3f3f;
}

.tweet i:hover {
  color: goldenrod;
}